.form-inputs p {
    color: red
}


    
    label,input{
        display:block
    
    }
    
    
    
    .input-form {
        color: rgb(235,54,54);
        font-size: 14px;
        font-style: italic
    }